@attribute [Authorize]
@page "/auth-static"


<PageTitle>Auth Static</PageTitle>

<h1>Auth Static</h1>
<AuthorizeView>
    <Authorized>
        <h3>Hello @context.User.Identity?.Name</h3>

        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    </Authorized>
</AuthorizeView>