@page "/payment"
@using Microsoft.Extensions.Options
@attribute [Authorize(Roles = RoleConstants.User)]
@rendermode InteractiveServer

<HeadContent>
    @* <script src="https://www.sandbox.paypal.com/sdk/js"></script> *@
    <script src="@AppSettings.CurrentValue.Paypal.SdkUrl"></script>
</HeadContent>


<div id="@_paymentId"></div>

@code
{
    [Inject] public IJSRuntime JsRuntime { get; set; } = null!;
    private IJSObjectReference _jsObjectReference = null!;
    [Inject] public IOptionsMonitor<AppSettings> AppSettings { get; set; } = null!;
    private readonly string _paymentId = "paypal-button-container";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeAsync<IJSObjectReference>("import", AppSettings.CurrentValue.Paypal.SdkUrl);

            _jsObjectReference = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "/Components/Pages/PaymentDemo.razor.js");

            if (_jsObjectReference == null)
            {
                throw new InvalidOperationException("JSObjectReference is null");
            }

            await _jsObjectReference.InvokeVoidAsync("renderPaypalButton", _paymentId);
        }


    }
}
