USE [master]
GO
/****** Object:  Database [EzioHost]    Script Date: 10/16/2025 3:50:50 PM ******/
CREATE DATABASE [EzioHost]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EzioHost].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EzioHost]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/16/2025 3:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileUploads]    Script Date: 10/16/2025 3:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileUploads](
	[Id] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](200) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[UploadedBytes] [bigint] NOT NULL,
	[Checksum] [nvarchar](512) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_FileUploads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnnxModels]    Script Date: 10/16/2025 3:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnnxModels](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FileLocation] [nvarchar](200) NOT NULL,
	[DemoInput] [nvarchar](200) NOT NULL,
	[DemoOutput] [nvarchar](200) NOT NULL,
	[Scale] [int] NOT NULL,
	[MustInputWidth] [int] NOT NULL,
	[MustInputHeight] [int] NOT NULL,
	[SupportVideoType] [int] NOT NULL,
	[Precision] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OnnxModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/16/2025 3:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](32) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[LastLogin] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 10/16/2025 3:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[RawLocation] [nvarchar](500) NOT NULL,
	[M3U8Location] [nvarchar](500) NOT NULL,
	[Resolution] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Type] [int] NOT NULL,
	[ShareType] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoStreams]    Script Date: 10/16/2025 3:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoStreams](
	[Id] [uniqueidentifier] NOT NULL,
	[M3U8Location] [nvarchar](500) NOT NULL,
	[Resolution] [int] NOT NULL,
	[VideoId] [uniqueidentifier] NOT NULL,
	[IV] [varchar](32) NOT NULL,
	[Key] [varchar](32) NOT NULL,
 CONSTRAINT [PK_VideoStreams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoUpscales]    Script Date: 10/16/2025 3:50:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoUpscales](
	[Id] [uniqueidentifier] NOT NULL,
	[OutputLocation] [nvarchar](200) NOT NULL,
	[Scale] [int] NOT NULL,
	[ModelId] [uniqueidentifier] NOT NULL,
	[VideoId] [uniqueidentifier] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[Resolution] [int] NOT NULL,
 CONSTRAINT [PK_VideoUpscales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_VideoStreams_VideoId]    Script Date: 10/16/2025 3:50:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_VideoStreams_VideoId] ON [dbo].[VideoStreams]
(
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VideoUpscales_ModelId]    Script Date: 10/16/2025 3:50:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_VideoUpscales_ModelId] ON [dbo].[VideoUpscales]
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VideoUpscales_VideoId]    Script Date: 10/16/2025 3:50:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_VideoUpscales_VideoId] ON [dbo].[VideoUpscales]
(
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OnnxModels] ADD  DEFAULT ((1)) FOR [Scale]
GO
ALTER TABLE [dbo].[VideoStreams] ADD  DEFAULT ('') FOR [IV]
GO
ALTER TABLE [dbo].[VideoStreams] ADD  DEFAULT ('') FOR [Key]
GO
ALTER TABLE [dbo].[VideoUpscales] ADD  DEFAULT ((1)) FOR [Scale]
GO
ALTER TABLE [dbo].[VideoUpscales] ADD  DEFAULT ((0)) FOR [Resolution]
GO
ALTER TABLE [dbo].[VideoStreams]  WITH CHECK ADD  CONSTRAINT [FK_VideoStreams_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VideoStreams] CHECK CONSTRAINT [FK_VideoStreams_Videos_VideoId]
GO
ALTER TABLE [dbo].[VideoUpscales]  WITH CHECK ADD  CONSTRAINT [FK_VideoUpscales_OnnxModels_ModelId] FOREIGN KEY([ModelId])
REFERENCES [dbo].[OnnxModels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VideoUpscales] CHECK CONSTRAINT [FK_VideoUpscales_OnnxModels_ModelId]
GO
ALTER TABLE [dbo].[VideoUpscales]  WITH CHECK ADD  CONSTRAINT [FK_VideoUpscales_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VideoUpscales] CHECK CONSTRAINT [FK_VideoUpscales_Videos_VideoId]
GO
USE [master]
GO
